.header{
    display: flex;
    justify-content: flex-end;
}

.profile{
    align-items: center;
    display: flex;
    flex-direction: column;
   
    .mainPage{

    }
 
    & .photoPage{
        display:flex;
        
    }
    #profile-pic{
        border-radius: 50%;
        height: 200px;
        margin-bottom: 15px;
    }

    &-bio {
        
        max-width:300px;
        text-align: center;
        line-height: 1.5rem;
    }
    h1{
        padding:3px;
        color: rgba(89, 205, 222, 0.875);
        font-family: Kalam;
        font-size: 2rem;
        margin: 5px;
    }

}
aside{
    align-items: stretch; 
    display: flex;
}

.hobbies {
    padding: 5px 25px;
    width: fit-content;
    border-radius: 3px;
   .title{
        margin: 30px 0 70px 0;
        font-family: Kalam;
        font-size:  1.5rem;
        font-weight: 700;
        line-height: 2rem;
        text-align: center;
        color: rgba(89, 205, 222, 0.875);
    }
   ul {
    padding: 0;
    text-align: center;
        height: 100%;
        li{

  
            padding:10px;
            span {
                color: rgba(89, 205, 222, 0.875);
             margin: 0 10px;
            }
    
        }

    }

    
}
.nav-bar {
    display: flex;
    max-width: fit-content;
    justify-content: space-between;
        & a {
            font-weight: 700;
            padding: 4px 8px;
            margin: 5px;
        }
       & .active{
        padding: 4px;
        box-shadow: 0 0.1rem 2rem rgba(0, 0, 0, 0.249);
    border-radius: 0.5rem;
    background: #fff;
       }
}


.skill-badges{
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0;
    margin:15px 0;
&-single{
    display: flex;
    padding: 1px;
    margin:5px;
    height: 50px;
    width:50px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.183);
border-radius: 0.5rem;
background: #fff;
   
}
}