*{
    color: rgb(35, 35, 35);
    font-family:  Montserrat,sans-serif;
    font-size: 14px;
    text-decoration: none;

}

.profile-container{
    align-items: center;
    display: flex;
    flex-direction: column;
   
}