*{
    color: rgb(35, 35, 35);
    font-family:  Montserrat,sans-serif;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
}

body{
    padding: 3px 40px;
    @media screen and (max-width: 565px){
        padding: 1px 3px;
    } 
    height: 100%;
}

header{
    display: flex;
    justify-content: flex-end;
}
.nav-bar {
    display: flex;
    max-width: fit-content;
    justify-content: space-between;
   margin-bottom:30px ;
        & a {
            font-weight: 700;
            padding: 4px 8px;
            margin: 5px;
        }
       & .active{
        padding: 4px;
        box-shadow: 0 0.1rem 2rem rgba(0, 0, 0, 0.249);
    border-radius: 0.5rem;
    background: #fff;
       }
}

footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height:60px;
    width:100%;
    border-top:  solid rgba(96, 204, 220, 0.53);

 }
 .contact-bar {
    display: flex;
    padding: 5px 50px;

    div:first-child{
        padding-right:20px ;
        align-self: center;
        font-size: 18px;
        font-family: Kalam;
    }
    &-icon {
        display: flex;
        padding: 0 5px;
        margin: 0 5px;
        height: 30px;
        width: 30px;
        align-items: center;
        justify-content: center;
    }
}

.main{
    &-about{
        display:grid;
        grid-template-columns: 1fr 1.5fr 1fr;
    }
}

.photographies{
    display:grid;
    grid-template-columns: 1fr 4fr;
}

// --- media screen rules ---
@media screen and (max-width: 955px){
    .centred{
        display: flex;
        justify-content: center;
    }
   .hidden {
        display: none;         
    }
} 

@media screen and (max-width: 510px){
    header {
        justify-content: center;
    }
    .photographies-carussel-content{
        height: 50%;
    }
    .jobs{
        p{
            width:90%
        }
    }
} 
